<div id="counter"></div>

<button class="center" id="button">Start a long running operation with detailed log</button>
<div class="center" id="operationLog"></div>

<script type="text/javascript" src="/signalr/hubs"></script>
<script type="text/javascript">

    $(function () {
        var myHub = $.connection.rxHub;
        myHub.observe('SomeValue').subscribe(function (x) {
            $('#counter').html(x);
        });
        $.connection.hub.start();

        var guid = new Date().getTime().toString();

        $('#button').click(function () {
            $('#button').attr('disabled', true);
            myHub.observe(guid)
                .subscribe(function (log) {
                    $('#operationLog').append(log);
                    $('#operationLog').append('<br>');
                }, function () {
                    $('#operationLog').append('fatal error');
                    $('#operationLog').append('<br>');
                }, function () {
                    $('#operationLog').append('we are done!');
                    $('#operationLog').append('<br>');
                    $('#button').attr('disabled', false);
                });
            $.get('/Home/DoALongRunningOperation/' + guid);
        });

    });
</script>